<header class="site-header">

  <div class="navigation__container">
    <!--<a href="index.html"><img src="images/logo_infinity.svg" alt="This is the logo of the NX, it also links to the home page" id="logo"></a>-->

    <nav> <!--This contains the list-->
      <ul class="topnav" id="myTopnav">
        <li class="icon" id="menu__icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
        <li><a href="galeria.html">Servicios</a></li>
        <li><a href="preguntas.html">Preguntas Frecuentes</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>

      </ul>
    </nav>

  </div>

</header>
