<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<!--
  <link rel="stylesheet" href="http://basehold.it/24">
-->



  <!-- CSS -->
  <!-- inject:css -->
  <!-- endinject -->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <!-- RSS -->
  {% feed_meta %}

  <!-- SEO -->
  <meta name="theme-color" content="FF4500" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@papaponmx" />
  <meta name="twitter:title" content="Jaime Rios Front End Developer" />
  <meta name="twitter:description" content="I’m Jaime a Front End developer based in Mexico City. Developing for the web since 2015, helping online businesses, entrepreneurs, users and organizations reach their goals faster, by developing faster, useful and responsive websites." />
  <meta name="twitter:image" content="http://blog.riosjaime.com/assets/images/profile2.jpg" />
  <meta name="twitter:image:alt" content="This is a profile picture of Jaime smiling" />

  <!-- Facebook Open Graph -->
  <meta property="og:title"              content="Rios Jaime" />
  <meta property="og:site_name"          content="Rios Jaime" />
  <meta property="og:image"              content="http://blog.riosjaime.com/assets/images/profile2.jpg" />

  <meta property="og:description"        content="I’m Jaime a Front End developer based in Mexico City. Developing for the web since 2015, helping online businesses, entrepreneurs, users and organizations reach their goals faster, by developing faster, useful and responsive websites." />




  {% seo %}
</head>
