.about {
  padding-top: $spacing-unit/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $spacing-unit;
  //align-items: center;

  //background: $brand-color;
  //border-radius: 8px;


/*  section:first-child {
    background: $background-color;
   // border: .5px $grey-color-light solid;
    max-width: 900px;
    padding: 3em;
    text-align: center;
  }*/



}

hr {
  background: $brand-color;
  height: 2px;
  border: none;
  margin: $spacing-unit/2 0;
}

.faq {

  .question {
    //font-size: 1.25em;
    font-weight: bold;
    margin: 0;
  }


  .answer {
    margin-top: 0;
    margin-bottom: $spacing-unit/2;
    font-weight: 100;
  }

}


.profile {
  display: none;
  height: 150px;
  width: 150px;
  //max-width: 300px;
  //max-height: 300px;
  //border: 3px $brand-color solid;
  border-radius: 50%;
  margin-top: $spacing-unit*1.25;
  margin-bottom: $spacing-unit;
}




@media screen and (min-width: 601px) {


  .me {
    display:flex;
    flex-direction: row;

  }

  .me__first {
   // margin-left: 2em;
    //max-width: 50%;

  }

  .profile {
    display: block;
    min-height: 200px;
    min-width: 200px;
  }
}
