.home {

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

}





.home {



  h2, h1, .results > p {
    text-align: center;
  }


  img {
    border-radius: 50%;
    height: 50vw;
    margin-top: $spacing-unit;
    max-height: 200px;
    max-width: 200px;
    width: 50vw;
  }

  .greetings {
    min-height: 100vh;
  }

  .arrow_down {
    animation: move 2s ease-in 2s infinite;

    height: 3em;
    width: 3em;

  }

  @keyframes move {
    50% {
      transform: translate(0px, .5em);
    }
  }


} // .home

//General purpose

.color {
  color: $brand-color;

}







@media screen and (max-width: $on-palm) {

  .greetings, div[class^="row"] {

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

  }






  div[class^="row"] {
    max-width: 400px;
  }



  .call-to-action {
    flex-flow: column;
    justify-content: center;
    .question {

    margin-bottom: $spacing-unit/2;
    }
  }



} //.ends media query

  .results__gallery {
    margin-top: $spacing-unit;

  }

  .result {
    margin-bottom: $spacing-unit;
    h2 {
      margin-bottom: 0;
      margin-top: 0;
    }
    p {
      text-align: center;
    }
  }


.icon__wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 5em;
}


.gallery__icon {
  fill: $brand-color;
  height: 5em;
  width: 5em;

}



// Bigger layout

@media screen and (min-width: $on-palm) {

   .row__first {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }


  .greetings {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 2px $brand-color solid;
    margin-bottom: $spacing-unit;

    img {
    margin-right: 5vw;
  }

}


  .greetings, .results__gallery {
    border-bottom: 2px $brand-color solid;
  }

  .result {
    max-width: 35vw;
  }

  .result:nth-child(odd) {
    margin-right: 10vw;

  }

  .call-to-action {
    margin-top: $spacing-unit*2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }



} // End media query




.see-more {
  margin-top: $spacing-unit*2;
  min-height: 30vh;

  h3 {
    text-transform: uppercase;
    margin-bottom: $spacing-unit/2;
    color: #2c2c2c;
    font-weight: 300;
  }
}

.call-to-action {
  min-height: 30vh;

}
