/**
 * Index
 *  1. Site Header
 *  2. Footer
 *  3. Page Content
 *  4. Posts
 *  5. Wrapper
 */



/**
 * Site header
 */

.site-header {
  margin-bottom: $spacing-unit*1.25;
}

.navigation__container {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  background: $brand-color;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;

  #logo {
    margin-left: 1em;
    height: 3.5em;
    width: 3.5em;

  }
  ul {
    /* display: flex;
     flex-flow: row nowrap;
    */
    overflow: hidden;
    list-style: none;
    //margin-top: 1em;
    margin: $spacing-unit/2;


    li {
      margin-right: 2.5em;
      display: inline-block;



      &:first-child {
        display:none;

      }

      &:hover, &:focus, &:active {
        font-weight: 700;
       // border-bottom: 1px solid $background-color;
      }

      a {
        color: $background-color;
        font-size: 1.15em;

      }

    }

  }
}


@media screen and (max-width: 600px){

  .navigation__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }

  .navigation__container ul li:not(first) {
    display:none;
  }

  ul.topnav li.icon {
    display: inline-block;
    padding-right: .5em;
  }

  ul.topnav.responsive li.icon {
    text-align: right;
  }
  ul.topnav.responsive li {
    display: flex;
    flex-flow: column;
    padding: .5em;
    text-align: left;

    &:hover, &:focus, &:active {
      background-color: darken($brand-color, 10%);

    }

  }

}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $brand-color;
    padding: $spacing-unit 0;
    background: $text-color;
    color: $background-color;

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    }

.social-media-list {
  display: flex;
  flex-flow: row nowrap;

  a svg[id^=social] {
    fill: $background-color;
    height: $spacing-unit*1.5;
    width: $spacing-unit*1.5;
    margin-right: $spacing-unit/4;
   }

  a svg[id^=social]:hover, a svg[id^=social]:active, a svg[id^=social]:focus {
    fill: $brand-color;
  }

}


.footer-col-wrapper .row__first {
    font-size: 15px;
    color: $background-color;
    align-items: flex-start;


}

.footer__social  {
  margin-right: $spacing-unit*5;
}

@media screen and (max-width: $on-palm) {

  .footer-col-wrapper {
    padding: 0 $spacing-unit/2;
  }
}






/**
 * Page content
 */
.page-content {
   // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}





/*
*  5. Wrappper
*/




.page-content .wrapper {
min-height:  100vh;

}
