@charset "utf-8";


//@import 'https://fonts.googleapis.com/css?family=Carrois+Gothic+SC';
//@import 'https://fonts.googleapis.com/css?family=Ubuntu';

// Open Sans
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300|Ubuntu';


// Our variables
$base-font-family:  'Ubuntu', sans-serif;
$body-font-family: 'Open Sans', sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 24px;

$spacing-unit:     36px;

$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$brand-color:      #0578a3;
$brand-color:  #333;
$secondary-color: #e45011;
//$secondary-color: #0578a3;
//$brand-color:      desaturate(tomato, 62%);
//$brand-color:      #009bbd;
//$brand-color:      teal;
$header-bg:        $brand-color;
$header-color:     white;
$text-color:       #111;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$medium-and-up:    40em;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
