.work {

}



.works__gallery {
  align-items: flex-start;
  justify-content: space-between;

}

.column__works {
  max-width: 200px;
  margin-top: $spacing-unit;

  & img {
    margin-bottom: $spacing-unit;

  }


}


@media screen and (max-width: $on-palm){

  .works__gallery, .call-to-action {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  }

  .column__works:not(:first-child) {
    margin-top: 0;
  }

}

